*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    background: transparent;
    font-family:'Poppins',sans-serif;
    /* background-color: #FEF8F8; */
}

body {
    overflow: hidden;
    overflow-y: scroll;
}

.head{
    text-align:center;
    
}

.subhead{
    text-align:center;
}